matplotlib==3.7.1
numpy==1.23.5
onnx==1.14.1
onnx2keras==0.0.24
onnx_tf==1.10.0
pandas==1.5.3
plotly==5.14.1
pytorch_lightning==1.9.0
PyYAML==6.0
scikit_learn==1.2.2
setuptools==59.5.0
tensorflow==2.12.0
torch==1.13.0
torchmetrics==0.11.4
